/* ************** FLYER-CONTAINER ************** */

.flyerContainer {
  height: 100vh;
  background-color: rgb(234, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************** FLYER-PAGE ************** */

.general {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-top: 20px;
}
.flyer {
  height: 80%;
  display: flex;
  border: 2px solid cyan;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.botones {
  border-radius: 50%;
  border: 2px solid cyan;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.botones:hover {
  transform: scale(1.4);
  border: none;
  background-color: cyan;
  font-size: 0%;
}
/* ************** FLYER ************** */

.container {
  display: flex;
  height: 100%;
  background-color: cyan;
}
.imgDiv {
  height: 100%;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
}

.content {
  background-color: white;
  margin-left: 3px;
  border-radius: 10px;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  width: 70%;
  text-align: center;
}

/* ************************************ RESPONSIVE ************************************ */

@media screen and (max-width: 800px) {
  /* ************** FLYER-PAGE ************** */

  .general {
    width: 80%;
    height: 90%;
    flex-direction: row;
  }
  .buttonContainer {
    height: 100%;
    width: 20%;
    flex-direction: column;
    margin-left: 10px;
  }
  .flyer {
    height: 100%;
  }
  .botones:hover {
    transform: scale(1.1);
  }
  /* ************** FLYER ************** */

  .container {
    flex-direction: column;
  }
  .imgDiv {
    height: 40%;
    width: 100%;
  }

  .content {
    margin-top: 3px;
    margin-left: 0;
    height: 60%;
    width: 100%;
  }

  .text {
    height: 50%;
    width: 70%;
  }
}
